<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contorl panel - ADMINS ONLY!</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>

    <!-- navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home/dashboard">Main page</a>
        <a class="navbar-brand" href="/home/categories">Categories</a>
        <a class="navbar-brand" href="/home/products">Products</a>
        <a class="navbar-brand" href="/home/users">Users</a>
        <a class="navbar-brand" href="/" style="margin-left: 900px;">Logout</a>
    </nav>