<html lang="en">

<% include partials/_header %>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>The control panel</p>

    </div>

    <% include partials/_footer %>