html
    head
      style
        include style.css
        meta(charset='utf-8')
    body
    a(class="reg-link" href='/sign-in') Sign in
      script
        include nav.js
        include cart.js
div(class='container full-width')
    div(class='row')
        div(class='col col-lg-1 col-md-1')
        button(class="show-nav")
        div(class='col col-lg-1 col-md-11')
            a(href='/')
                h1 Lite Shop